<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor readings</title>
</head>
<body>
    <h1>Last sensor reading at: {{ time }}</h1>
    <h1>Current Temperature: {{ temp }} </h1>
    <h1>Current Humidity: {{ hum }}</h1>
    <table>
        <tr>
            <td>Time</td>
            <td>Humidity</td>
            <td>Temperature</td>
        </tr>
        {% for row in data %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>